.expense-container {
  height: auto;
}

#expense-header, #expense{
  text-align: center;
}

#exp-id-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-name-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-status-header{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-id{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-name{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 26.3%;
  max-width: 26.3%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#exp-desc:hover,#exp-id:hover,#exp-name:hover,#exp-status:hover {
  background-color: #bfbfbf;
  -webkit-box-shadow: 1px 0px 30px 0px rgba(17, 223, 255, 0.75);
  -moz-box-shadow:    1px 0px 30px 0px rgba(17, 223, 255, 0.75);
  box-shadow:         1px 0px 30px 0px rgba(17, 223, 255, 0.75);
}

#exp-status{
  text-shadow: 2px 2px grey;
  font-weight: bolder;
  color: white;
  font-size: 1.5em;
  width: 20%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#expense-title-header{
  color: #ffffff;
  font-family: 'Raleway',sans-serif;
  font-size: 62px;
  font-weight: 800;
  line-height: 72px;
  margin: 0 0 24px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
